{% extends 'layout.html' %}

{% block content %}
{% if message %}
    <script>alert(message)</script>
{% endif %}
<div class="animalPannel">
    <div class="registration">
        <img src="/static/img/cow.jpg" alt="cow">
        <a href="/register"><h3>Register Animal</h3></a>
    </div>
    <div class="registration">
        <img src="/static/img/cow2.png" alt="cow">
        <a href="/identify"><h3>Identify breed</h3></a>
    </div>
    <div class="registration">
        <img src="/static/img/search-animal.png" alt="search-animal">
        <a href="/search"><h3>Search Animal</h3></a>
    </div>
</div>

{% endblock %}