<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhart Pashudhan</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/img/icon.png" type="image/png">
</head>
<body >
    <div class="header">
        <a href="/"><img src="static/img/nddb-logo.png" alt="nddb logo"></a>
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/contact">Contact us</a>
            <a href="">Login</a>
        </div>
    </div>

    {%block content%}
    
    {%endblock%}

</body>
</html>